.mpStyle {
  width: 100%;
  max-width: 1200px;
  height: 450;
  margin: 75px auto !important;
  text-align: center;
}

.mapWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 960px) {
  .mpStyle {
    height: 400px;
    width: 100%;
    margin: 0 auto;
  }
}
